# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
PORT="8080"            # The port your server will listen on
HOST="localhost"       # Hostname for the server

# CORS Settings
CORS_ORIGIN="http://localhost:8080" # Allowed CORS origin, adjust as necessary

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000"  # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP

# Database Configuration
DB_HOST="localhost"       # Database host
DB_PORT="3306"            # Database
DB_PASSWORD='password'
DB_NAME='mydb'
DB_USER="root"

# JWT settings
JWT_SECRET="secret"                  # Base JWT secret
JWT_TEMP_SECRET="secret"             # JWT secret for create temp token
JWT_ACCESS_TOKEN_SECRET="secret"     # JWT secret for access token
JWT_REFRESH_TOKEN_SECRET="secret"    # JWT secret for refresh token

JWT_ACCESS_TOKEN_TIME=0.1 #hour             # exists time for access token
JWT_REFRESH_TOKEN_TIME=36 #hour             # exists time for refresh token

EMAIL_USER='email@example.com'
EMAIL_PASS='abcd abcd abcd abcd'